<p> These are the books that <%= @user.username %> has read this year...</p>

<% @books.each do |book| %>
  <a href='/books/<%=book.slug%>'><%=book.title%> by <%=book.author%></a>
  <p>They rate this book <% Rating.all.each do |rate| %>
    <% if rate.book_id == book.id && rate.user_id == @user.id %>
    <%= rate.value %>
    <% end %>
  <% end %> out of 5.</p>
  <p>And their review is...<% Review.all.each do |view| %>
    <% if view.book_id == book.id && view.user_id == @user.id %>
    <%= view.content %>
    <% end %>
  <% end %></p>
  <br>
  <br>
  <% end %>
