  <%= @book.title %> by <%= @book.author %>
  <p>Reviews:
    <br>
    <% Review.all.each do |view| %>
      <% if view.book_id == @book.id %>
      <% user = User.find_by_id(view.user_id) %>
      <a href='user/<%= user.username %>'><%=user.username%></a> said...
      <%=  view.content %>
      <br>
        <% end %>
      <% end %>
     </p>
  <br>
  <a href='/books/new/<%=@book.slug%>'>Add This Book to Your Shelf</a>
  <br>
  <a href='/books/<%=@book.slug/edit'>Edit Your Review of this Book</a>
